{%include 'topnavigationbar.html' %}

<ul>
<li ><a class="fct-subCategoryUnselectedItem sel-menu-myaccount" href="https://www.daraz.pk/customer/account/index/">Account Settings Panel</a></li>
<li><a class="" href="{% url 'userInformation' %}">Personal information</a></li>
<li><a class="" href="{% url 'displayAddress' %}">Address book</a></li>
<li><a class="" href="">My orders</a></li>
<li><a class="" href="">My Reviews &amp; Ratings</a></li>
<li><a class="" href="">My Saved Items</a></li>
<li><a class="" href="">My Discount code</a></li>
<li><a href="{% url 'passwordReset' %}">Change Password</a></li>
</ul>