<main class="osh-container" id="content" role="main">

        <div class="customer_menu">
        <h3 class="fct-acc-menu pbxm">My account</h3>
       

        <ul id="yw0">
<li class="ptxxs pbm"><a class="" href="">Account Settings Panel</a></li>
<li class="ptxxs pbm"><a class="" href="">Personal information</a></li>
<li class="ptxxs pbm"><a class="" href="">Address book</a></li>
<li class="ptxxs pbm"><a class="" href="">My orders</a></li>
<li class="ptxxs pbm fct-subCategorySelectedItem "><a class="fct-subCategoryUnselectedItem sel-menu-rating-review" href="">My Reviews &amp; Ratings</a></li>
<li class="ptxxs pbm"><a class="" href="">My Saved Items</a></li>
<li class="ptxxs pbm"><a class="" href="">My Discount code</a></li>
<li class="ptxxs pbm last "><a class="fct-subCategoryUnselectedItem sel-menu-newsletter" href="">Newsletter preferences</a></li>
</ul></div>    