<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>

.sidenav-categories{

background-color:white;
display:block;
width:120px;
height:100%;
margin-left:-12px;
margin-top:10px;



border-right:1px solid silver

}
.sidenav-categories a {
text-align: left;
    padding:10px;
    text-decoration: none;
    font-size: 15px;
    font-style:calibri;
    color: black;
    display: block;
}
.sidenav-categories a:hover {
     background-color: blue;
    color: white;
}
.center-top{
display:block;
margin-top:10px;
margin-left:30px;
margin-right:15px;

display:block;

}
.center-1{
display:block;
margin-top:10px;
margin-left:30px;


}
#center-top{
border-top:1px solid silver;
border-bottom:1px solid silver;



}
.categories{
font-size:15px;
color:silver;
padding:5px;
}

.center-categoriy-container{

}
.cat-container1{
display:block;
width:150px;
height:150px;
margin-left:70px;
text-align:center;



}
.cat-container{
display:block;
width:150px;
height:150px;
margin-left:;
text-align:center;



}
.img-cat{
margin:5px;


}
#cat-container{

margin-left:50px;
display:block;

}

</style>
</head>

<nav class="navbar navbar-inverse ">
  <div class="container-fluid">
    <div class="navbar-header" >
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Metazon</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li> <a href="#">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Fiction</a></li>
            <li><a href="#">Religious</a></li>
            <li><a href="#">Text Book</a></li>
          </ul>
        </li>
<li><div class="topnav" style="margin-top:12px;">
 
  <input type="text" placeholder="Search..">
  <span class="glyphicon glyphicon-search"></span>
</div>
      <li></ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
<div class="row">
<div class="col-sm-1">
<div class="sidenav-categories">
<span class="categories">Categories</span>
  <a href="#">Anthropology</a>  
  <a href="#">Sciences</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
   <a href="#">About</a>  
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
   <a href="#">About</a>  
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

</div>
<div class="col-sm-11">
<div id="center-top">
<div class="center-top">
 <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img18/Books/012018/coops/1090838_BOOKS-BXHP_STRIPE-DIS-ADAPTS-PC-Stripe_4.jpg" alt="New York" width="100%"; >
  </div>
  <div class="center-1">
   <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img18/Books/012018/coops/1096369_IN_Books-DIS-BXHPTile-The-Heartfulness-Way_cg_750x3754_1.jpg" style="width:350px; height:250px; margin-top:20px; ;" >
      <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img18/Books/012018/coops/1096369_IN_Books-DIS-BXHPTile-The-Heartfulness-Way_cg_750x3754_1.jpg" style="width:350px; height:250px; margin-top:20px; margin-left:30px;" >
            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img18/Books/012018/coops/1096369_IN_Books-DIS-BXHPTile-The-Heartfulness-Way_cg_750x3754_1.jpg" style="width:350px; height:250px; margin-top:20px; margin-left:30px;" >
   </div>
    <div class="center-1">
   <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img18/Books/012018/coops/1096369_IN_Books-DIS-BXHPTile-The-Heartfulness-Way_cg_750x3754_1.jpg" style="width:350px; height:250px; margin-top:20px; ;" >
      <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img18/Books/012018/coops/1096369_IN_Books-DIS-BXHPTile-The-Heartfulness-Way_cg_750x3754_1.jpg" style="width:350px; height:250px; margin-top:20px; margin-left:30px;" >
            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img18/Books/012018/coops/1096369_IN_Books-DIS-BXHPTile-The-Heartfulness-Way_cg_750x3754_1.jpg" style="width:350px; height:250px; margin-top:20px; margin-left:30px;" >
             <span style="display:block; height: 60px;"></span>
             <h2>Shop by Category</h2>
   </div>
 </div> 

</div>
<div id="cat-container">
 <div class="row">
    <div class="col-sm-3" >
    <div class="cat-container1">
<img class="img-cat"src="https://images-eu.ssl-images-amazon.com/images/I/41t9BhIL8mL._SS120_.jpg" alt="New York" width="120px" height="120px">
<span class="name-cat" >hamza</span>
      
      </div></div>
    
    <div class="col-sm-3" >
    <div class="cat-container">
<img class="img-cat"src="https://images-eu.ssl-images-amazon.com/images/I/81il9SRQM1L._SS120_.jpg" alt="New York" width="120px" height="120px">
<span class="name-cat" style="text-align:right">hamza</span></div></div>
    <div class="col-sm-2" >
    <div class="cat-container">
<img class="img-cat"src="https://images-eu.ssl-images-amazon.com/images/I/81l6zbSjSzL._SS120_.jpg" alt="New York" width="120px" height="120px">
<span class="name-cat" style="text-align:right">hamza</span></div></div>
    <div class="col-sm-2" >
    <div class="cat-container">
<img class="img-cat"src="https://images-eu.ssl-images-amazon.com/images/I/81l6zbSjSzL._SS120_.jpg" alt="New York" width="120px" height="120px">
<span class="name-cat" style="text-align:right">hamza</span></div></div>
     <div class="col-sm-2"><div class="cat-container">
<img class="img-cat"src="https://images-eu.ssl-images-amazon.com/images/I/41t9BhIL8mL._SS120_.jpg" alt="New York" width="120px" height="120px">
<span class="name-cat" style="text-align:right">hamza</span></div></div>
<div id="cat-container">
 <div class="row">
    <div class="col-sm-3" >
    <div class="cat-container1">
<img class="img-cat"src="https://images-eu.ssl-images-amazon.com/images/I/41t9BhIL8mL._SS120_.jpg" alt="New York" width="120px" height="120px">
<span class="name-cat" >hamza</span>
      
      </div></div>
    
    <div class="col-sm-3" >
    <div class="cat-container">
<img class="img-cat"src="https://images-eu.ssl-images-amazon.com/images/I/81il9SRQM1L._SS120_.jpg" alt="New York" width="120px" height="120px">
<span class="name-cat" style="text-align:right">hamza</span></div></div>
    <div class="col-sm-2" >
    <div class="cat-container">
<img class="img-cat"src="https://images-eu.ssl-images-amazon.com/images/I/81l6zbSjSzL._SS120_.jpg" alt="New York" width="120px" height="120px">
<span class="name-cat" style="text-align:right">hamza</span></div></div>
    <div class="col-sm-2" >
    <div class="cat-container">
<img class="img-cat"src="https://images-eu.ssl-images-amazon.com/images/I/81l6zbSjSzL._SS120_.jpg" alt="New York" width="120px" height="120px">
<span class="name-cat" style="text-align:right">hamza</span></div></div>
     <div class="col-sm-2"><div class="cat-container">
<img class="img-cat"src="https://images-eu.ssl-images-amazon.com/images/I/41t9BhIL8mL._SS120_.jpg" alt="New York" width="120px" height="120px">
<span class="name-cat" style="text-align:right">hamza</span></div></div>
 
  </div>





</div>



  </div>
  </div>
